{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/menu.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
{% endblock %}

{% block title %}{{ parent() }} - Situation professionnelle{% endblock %}

{% block menu %}{% include ':default:menu.html.twig' %}{% endblock %}

{% block body %}
<div class="col-sm-9 col-md-10 affix-content">
    <div class="container new_application">
        <div class="page-header">
            <h3><span class="glyphicon glyphicon-user"></span> Situation professionnelle</h3>
        </div>

        {{ form_start(form_situation, {'attr': {'class': 'form-horizontal'}}) }}

        {{ form_errors(form_situation) }}

        {% if application.situationProfessionnelle == 'cdd' %}
            {% include 'ApplicationBundle:Application:SituationPro/situation_pro_cdd.html.twig' %}
        {% elseif application.situationProfessionnelle == 'cdi' %}
            {% include 'ApplicationBundle:Application:SituationPro/situation_pro_cdi.html.twig' %}
        {% endif %}
        <div class="col-xs-12">
            {{ form_widget(form_situation) }}
            <a href="{{ path('application_infos_complementaires', {'id': applicant.id}) }}"><button type="button" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"> Précédent</i></button></a>
            <button type="submit" class="btn btn-default">Suivant <i class="glyphicon glyphicon-arrow-right"></i></button>
        </div>
    </div>

        {{ form_rest(form_situation) }}
        {{ form_end(form_situation) }}
</div>
</div>

{% endblock %}
