{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/menu.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
{% endblock %}

{% block title %}{{ parent() }} - Informations complémentaires{% endblock %}

{% block menu %}{% include ':default:menu.html.twig' %}{% endblock %}

{% block body %}
<div class="col-sm-9 col-md-10 affix-content">
    <div class="container new_application">
        <div class="page-header">
            <h3><span class="glyphicon glyphicon-user"></span> Informations complémentaires</h3>
        </div>

        {{ form_start(form_application, {'attr': {'class': 'form-horizontal'}}) }}

        {{ form_errors(form_application) }}

        {# contact urgence form #}
        <div class="col-xs-12">
            <fieldset>
                <legend>Personne à contacter en cas d'urgence</legend>
                <div class="col-xs-12">
                    {{ form_label(form_application.nomContactUrgence, "Nom", {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    {{ form_errors(form_application.nomContactUrgence) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_application.nomContactUrgence, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-xs-12">
                    {{ form_label(form_application.prenomContactUrgence, "Prénom", {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    {{ form_errors(form_application.prenomContactUrgence) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_application.prenomContactUrgence, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-xs-12">
                    {{ form_label(form_application.telContactUrgence, "Téléphone", {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    {{ form_errors(form_application.telContactUrgence) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_application.telContactUrgence, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </fieldset>
        </div>

        {# situation professionnelle form #}
        <div class="col-xs-12">
            <fieldset>
                <legend>Situation professionnelle</legend>
                <div class="col-xs-12">
                    {{ form_label(form_application.situationProfessionnelle, "Situation professionnelle", {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    {{ form_errors(form_application.situationProfessionnelle) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_application.situationProfessionnelle, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="col-xs-12">
            {{ form_widget(form_application) }}
            <a href="{{ path('application_autres_infos', {'id': applicant.id}) }}"><button type="button" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"> Précédent</i></button></a>
            <button type="submit" class="btn btn-default">Suivant <i class="glyphicon glyphicon-arrow-right"></i></button>
        </div>

        {{ form_rest(form_application) }}

        {{ form_end(form_application) }}
    </div>
</div>
</div>

{% endblock %}
