{% extends "::base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/menu.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
{% endblock %}
{% block title %}{{ parent() }} - Documents{% endblock %}
{% block menu %}{% include ':default:menu.html.twig' %}{% endblock %}
{% block body %}
<div class="col-sm-9 col-md-10 affix-content">
    <div class="container new_application">
        <div class="page-header">
            <h3><span class="glyphicon glyphicon-user"></span> Documents</h3>
        </div>
        {{ form_start(form_application, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_errors(form_application) }}
        {# documents form #}
        <div class="col-xs-12">
            <fieldset>
                <legend>Documents nécessaires</legend>
                <div class="col-xs-6">
                    {{ form_label(form_application.photo, "Photo", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
                    {{ form_errors(form_application.photo) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_application.photo, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-xs-6">
                    {{ form_label(form_application.lettreMotiv, "Lettre de motivation", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
                    {{ form_errors(form_application.lettreMotiv) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_application.lettreMotiv, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-xs-6">
                    {{ form_label(form_application.cv, "CV", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
                    {{ form_errors(form_application.cv) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_application.cv, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-xs-6">
                    {{ form_label(form_application.carteIdRecto, "Carte d'identité: Recto", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
                    {{ form_errors(form_application.carteIdRecto) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_application.carteIdRecto, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-xs-6">
                    {{ form_label(form_application.carteIdVerso, "Carte d'identité: Verso", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
                    {{ form_errors(form_application.carteIdVerso) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_application.carteIdVerso, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-xs-6">
                    {{ form_label(form_application.rib, "R.I.B", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
                    {{ form_errors(form_application.rib) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_application.rib, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-xs-6">
                    {{ form_label(form_application.handicap, "Attestation Travailleur Handicapé", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
                    {{ form_errors(form_application.handicap) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_application.handicap, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-xs-12">
        {{ form_widget(form_application) }}
        <a href="{{ path('application_projet_formation', {'id': applicant.id}) }}"><button type="button" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"> Précédent</i></button></a>
        <button type="submit" class="btn btn-default">Suivant <i class="glyphicon glyphicon-arrow-right"></i></button>
    </div>
    {{ form_rest(form_application) }}
    {{ form_end(form_application) }}
</div>
</div>
{% endblock %}