{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/menu.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
{% endblock %}

{% block title %}{{ parent() }} - Identité{% endblock %}

{% block menu %}{% include ':default:menu.html.twig' %}{% endblock %}

{% block body %}
<div class="col-sm-9 col-md-10 affix-content">
    <div class="container new_application">
        <div class="page-header">
            <h3><span class="glyphicon glyphicon-user"></span> Identité</h3>
        </div>

        {{ form_start(form_applicant, {'attr': {'class': 'form-horizontal'}}) }}

        {{ form_errors(form_applicant) }}

        {# coordonnees form #}
        <div class="col-xs-12">
            <fieldset>
                <div class="col-xs-6">
                    {{ form_label(form_applicant.nom, "Nom", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
                    {{ form_errors(form_applicant.nom) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_applicant.nom, {'attr': {'class': 'form-control', 'value': applicant.nom }}) }}
                    </div>
                </div>
                <div class="col-xs-6">
                    {{ form_label(form_applicant.prenom, "Prénom", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
                    {{ form_errors(form_applicant.prenom) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_applicant.prenom, {'attr': {'class': 'form-control', 'value': applicant.prenom }}) }}
                    </div>
                </div>
                <div class="col-xs-6">
                    {{ form_label(form_applicant.sexe, "Sexe", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
                    {{ form_errors(form_applicant.sexe) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_applicant.sexe, {'attr': {'class': 'form-control', 'value': applicant.sexe }}) }}
                    </div>
                </div>
                <div class="col-xs-6">
                    {{ form_label(form_applicant.nomJeuneFille, "Nom de jeune fille", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
                    {{ form_errors(form_applicant.nomJeuneFille) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_applicant.nomJeuneFille, {'attr': {'class': 'form-control', 'value': applicant.nomJeuneFille }}) }}
                    </div>
                </div>
            </fieldset>
        </div>

        {# address form #}
        {#<div class="col-xs-12">
            <fieldset>
                <legend>Adresse</legend>
                <div class="col-xs-6">
                    {{ form_label(form_applicant.adresse.numero, "Numéro", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
                    {{ form_errors(form_applicant.adresse.numero) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_applicant.adresse.numero, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-xs-6">
                    {{ form_label(form_applicant.adresse.rue, "Adresse", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
                    {{ form_errors(form_applicant.adresse.rue) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_applicant.adresse.rue, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-xs-6">
                    {{ form_label(form_applicant.adresse.complement, "Complément", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
                    {{ form_errors(form_applicant.adresse.complement) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_applicant.adresse.complement, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-xs-6">
                    {{ form_label(form_applicant.adresse.codePostal, "Code postal", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
                    {{ form_errors(form_applicant.adresse.codePostal) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_applicant.adresse.codePostal, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-xs-6">
                    {{ form_label(form_applicant.adresse.ville, "Ville", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
                    {{ form_errors(form_applicant.adresse.ville) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_applicant.adresse.ville, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </fieldset>
        </div>#}

        {# contact form #}
        {#<div class="col-xs-12">
            <fieldset>
                <legend>Contact</legend>
                <div class="col-xs-6">
                    {{ form_label(form_applicant.mail, "Mail", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
                    {{ form_errors(form_applicant.mail) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_applicant.mail, {'attr': {'class': 'form-control', 'value': applicant.mail }}) }}
                    </div>
                </div>
                <div class="col-xs-6">
                    {{ form_label(form_applicant.telephone, "Téléphone", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
                    {{ form_errors(form_applicant.telephone) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_applicant.telephone, {'attr': {'class': 'form-control', 'value': applicant.telephone }}) }}
                    </div>
                </div>
            </fieldset>
        </div>#}

        {# infos form #}
        {#<div class="col-xs-12">
            <fieldset>
                <legend>Autres informations</legend>
                <div class="col-xs-6">
                    {{ form_label(form_applicant.dateNaissance, "Date de naissance", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
                    {{ form_errors(form_applicant.dateNaissance) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_applicant.dateNaissance, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-xs-6">
                    {{ form_label(form_applicant.lieuNaissance, "Lieu de naissance", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
                    {{ form_errors(form_applicant.lieuNaissance) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_applicant.lieuNaissance, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-xs-6">
                    {{ form_label(form_applicant.nationalite, "Nationalité", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
                    {{ form_errors(form_applicant.nationalite) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_applicant.nationalite, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-xs-6">
                    {{ form_label(form_applicant.situationFamiliale, "Situation familiale", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
                    {{ form_errors(form_applicant.situationFamiliale) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_applicant.situationFamiliale, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-xs-6">
                    {{ form_label(form_applicant.enfants, "Nombre d'enfants", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
                    {{ form_errors(form_applicant.enfants) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_applicant.enfants, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-xs-6">
                    {{ form_label(form_applicant.numSecu, "N° Sécurité Sociale", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
                    {{ form_errors(form_applicant.numSecu) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_applicant.numSecu, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-xs-6">
                    {{ form_label(form_applicant.caisse, "Caisse", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
                    {{ form_errors(form_applicant.caisse) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_applicant.caisse, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </fieldset>
        </div>

        {{ form_rest(form_applicant) }}

        {{ form_start(form_application, {'attr': {'class': 'form-horizontal'}}) }}

        {{ form_errors(form_application) }}#}

        {# application form #}
        {#<div class="col-xs-6">
            <fieldset>
                <legend>Contact en cas d'urgence</legend>
                <div class="col-xs-12">
                    {{ form_label(form_application.nomContactUrgence, "Nom", {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    {{ form_errors(form_application.nomContactUrgence) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_application.nomContactUrgence, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-xs-12">
                    {{ form_label(form_application.prenomContactUrgence, "Prénom", {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    {{ form_errors(form_application.prenomContactUrgence) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_application.prenomContactUrgence, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-xs-12">
                    {{ form_label(form_application.telContactUrgence, "Téléphone", {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    {{ form_errors(form_application.telContactUrgence) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_application.telContactUrgence, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-xs-6">
            <fieldset>
                <legend>Votre situation professionelle</legend>
                <div class="col-xs-12">
                    {{ form_label(form_application.nomContactUrgence, "Situation professionelle", {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    {{ form_errors(form_application.nomContactUrgence) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_application.nomContactUrgence, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-xs-6">
            <fieldset>
                <legend>Votre formation</legend>
                <div class="col-xs-12">
                    {{ form_label(form_application.niveauEtudes, "Niveau d'études", {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    {{ form_errors(form_application.niveauEtudes) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_application.niveauEtudes, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-12">
                        {{ form_widget(form_application.diplomes) }}
                        <a href="#" id="add_diplome" class="btn btn-default col-xs-4 col-xs-offset-2">Ajouter diplôme</a>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="col-xs-12">
            <fieldset>
                <legend>Votre projet professionnel</legend>
                <div class="col-xs-12">
                    {{ form_label(form_application.projetPro, "Quel métier souhaitez vous exercer?", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
                    {{ form_errors(form_application.projetPro) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_application.projetPro, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-xs-12">
            <fieldset>
                <legend>Documents nécessaires</legend>
                <div class="col-xs-6">
                    {{ form_label(form_application.photo, "Photo", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
                    {{ form_errors(form_application.photo) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_application.photo, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-xs-6">
                    {{ form_label(form_application.lettreMotiv, "Lettre de motivation", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
                    {{ form_errors(form_application.lettreMotiv) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_application.lettreMotiv, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-xs-6">
                    {{ form_label(form_application.handicap, "Attestation Travailleur Handicapé", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
                    {{ form_errors(form_application.handicap) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_application.handicap, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-xs-6">
                    {{ form_label(form_application.cv, "CV", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
                    {{ form_errors(form_application.cv) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_application.cv, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-xs-6">
                    {{ form_label(form_application.carteIdRecto, "Carte d'identité: Recto", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
                    {{ form_errors(form_application.carteIdRecto) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_application.carteIdRecto, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-xs-6">
                    {{ form_label(form_application.carteIdVerso, "Carte d'identité: Verso", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
                    {{ form_errors(form_application.carteIdVerso) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_application.carteIdVerso, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-xs-6">
                    {{ form_label(form_application.rib, "R.I.B", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
                    {{ form_errors(form_application.rib) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_application.rib, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </fieldset>
        </div>#}

        <div class="col-xs-12">
            {{ form_widget(form_applicant) }}
            <a href="{{ path('applicant_infos', {'id': applicant.id}) }}"><button type="button" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"> Précédent</i></button></a>
            <button type="submit" class="btn btn-default">Suivant <i class="glyphicon glyphicon-arrow-right"></i></button>
        </div>

        {#{{ form_rest(form_application) }}#}

        {#{{ form_end(form_application) }}#}
    </div>
</div>
</div>

{% endblock %}

{% block javascripts %}
    {# On charge la bibliothèque jQuery. Ici, je la prends depuis le CDN google
           mais si vous l'avez en local, changez simplement l'adresse. #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    {# Voici le script en question : #}
    <script type="text/javascript">
        $(document).ready(function() {
            // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
            var $container = $('div#application_diplomes');

            // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
            var index = $container.find(':input').length;

            // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
            $('#add_diplome').click(function(e) {
                addDiplome($container);

                e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                return false;
            });

            // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
            if (index == 0) {
                addDiplome($container);
            } else {
                // S'il existe déjà des diplomes, on ajoute un lien de suppression pour chacune d'entre elles
                $container.children('div').each(function() {
                    addDeleteLink($(this));
                });
            }

            // La fonction qui ajoute un formulaire DiplomeType
            function addDiplome($container) {
                // Dans le contenu de l'attribut « data-prototype », on remplace :
                // - le texte "__name__label__" qu'il contient par le label du champ
                // - le texte "__name__" qu'il contient par le numéro du champ
                var template = $container.attr('data-prototype')
                                .replace(/__name__label__/g, 'Diplome n°' + (index+1))
                                .replace(/__name__/g,        index)
                        ;

                // On crée un objet jquery qui contient ce template
                var $prototype = $(template);

                // On ajoute au prototype un lien pour pouvoir supprimer le diplome
                addDeleteLink($prototype);

                // On ajoute le prototype modifié à la fin de la balise <div>
                $container.append($prototype);

                // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
                index++;
            }

            // La fonction qui ajoute un lien de suppression d'un diplome
            function addDeleteLink($prototype) {
                // Création du lien
                var $deleteLink = $('<a href="#" id="delete_diplome" class="btn btn-danger col-xs-4 col-xs-offset-2">Supprimer</a>');

                // Ajout du lien
                $prototype.append($deleteLink);

                // Ajout du listener sur le clic du lien pour effectivement supprimer le diplome
                $deleteLink.click(function(e) {
                    $prototype.remove();

                    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                    return false;
                });
            }
        });
    </script>

{% endblock %}