{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/menu.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
{% endblock %}

{% block title %}{{ parent() }} - Identité{% endblock %}

{% block menu %}{% include ':default:menu.html.twig' %}{% endblock %}

{% block body %}
<div class="col-sm-9 col-md-10 affix-content">
    <div class="container new_application">
        <div class="page-header">
            <h3><span class="glyphicon glyphicon-user"></span> Identité</h3>
        </div>

        {{ form_start(form_applicant, {'attr': {'class': 'form-horizontal'}}) }}

        {{ form_errors(form_applicant) }}

        {# coordonnees form #}
        <div class="col-xs-12">
            <fieldset>
                <div class="col-xs-6">
                    {{ form_label(form_applicant.nom, "Nom", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
                    {{ form_errors(form_applicant.nom) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_applicant.nom, {'attr': {'class': 'form-control', 'value': applicant.nom }}) }}
                    </div>
                </div>
                <div class="col-xs-6">
                    {{ form_label(form_applicant.prenom, "Prénom", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
                    {{ form_errors(form_applicant.prenom) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_applicant.prenom, {'attr': {'class': 'form-control', 'value': applicant.prenom }}) }}
                    </div>
                </div>
                <div class="col-xs-6">
                    {{ form_label(form_applicant.sexe, "Sexe", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
                    {{ form_errors(form_applicant.sexe) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_applicant.sexe, {'attr': {'class': 'form-control', 'value': applicant.sexe }}) }}
                    </div>
                </div>
                <div class="col-xs-6">
                    {{ form_label(form_applicant.nomJeuneFille, "Nom de jeune fille", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
                    {{ form_errors(form_applicant.nomJeuneFille) }}
                    <div class="col-xs-12">
                        {{ form_widget(form_applicant.nomJeuneFille, {'attr': {'class': 'form-control', 'value': applicant.nomJeuneFille }}) }}
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

        <div class="col-xs-12">
            {{ form_widget(form_applicant) }}
            <a href="{{ path('applicant_infos', {'id': applicant.id}) }}"><button type="button" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"> Précédent</i></button></a>
            <button type="submit" class="btn btn-default">Suivant <i class="glyphicon glyphicon-arrow-right"></i></button>
        </div>
</div>
</div>

{% endblock %}
