{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/infos_applicant.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/menu.css') }}" />
{% endblock %}

{% block title %}{{ parent() }} - Infos candidat{% endblock %}
{% block menu %}{% include ':default:menu.html.twig' %}{% endblock %}

{% block body %}
    <div class="col-sm-9 col-md-10 affix-content">
        <div class="container list_applicants">
            <div class="page-header">
                <h3><span class="glyphicon glyphicon-user"></span> {{ applicant.prenom }} {{ applicant.nom }}</h3>
            </div>
            <div>
                <span class="infos">Téléphone:</span> {{ applicant.telephone }}<br /><br />
                <span class="infos">Email:</span> {{ applicant.mail }}<br /><br />
                {% if applicant.adresse %}
                {{ applicant.adresse.numero }} {{ applicant.adresse.rue }} {{ applicant.adresse.complement }} {{ applicant.adresse.codePostal }} {{ applicant.adresse.ville }}
{% endif %}
                {{ applicant.dateNaissance | date('d/m/Y') }}
                Age: {{ age }} ans<br />
                Date d'enregistrement du candidat: {{ applicant.dateCreation|date('d/m/Y') }}
<br />
                <a href="{{ path('new_application', {'id': applicant.id}) }}"><button class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i>  Créer dossier de candidature</button></a>

                <a href="#"><button class="btn btn-default"><i class="glyphicon glyphicon-folder-open"></i>  Voir dossier de candidature</button></a>
                <a href="#"><button class="btn btn-default"><i class="glyphicon glyphicon-folder-open"></i>  Voir dossier de financement</button></a>
                <a href="{{ path('fos_user_change_password') }}"><button class="btn btn-default"><i class="glyphicon glyphicon-lock"></i>  Modifier mot de passe</button></a>

                <span class="infos">Date de naissance:</span> {{ applicant.dateNaissance | date('d/m/Y') }}<br /><br />
                <span class="infos">Age:</span> {{ age }} ans
            </div>
        </div>

        <div>
            <br /><a href="{{ path('removeApplicant', {id: applicant.id}) }}">Supprimer</a>
        </div>
    </div>

{% endblock %}