{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/menu.css') }}" />
{% endblock %}

{% block title %}{{ parent() }} - Nouveau candidat{% endblock %}

{% block menu %}{% include ':default:menu.html.twig' %}{% endblock %}

{% block body %}
    <div class="col-sm-9 col-md-10 affix-content">
        <div class="container new_applicant">
            <div class="page-header">
                <h3><span class="glyphicon glyphicon-user"></span> Nouveau candidat</h3>
            </div>
            {{ form_start(form_applicant, {'attr': {'class': 'form-horizontal'}}) }}

            {{ form_errors(form_applicant) }}

            {# applicant form #}
            <div class="col-xs-12">
                <fieldset>
                    <legend>Informations</legend>
                    <div class="alignement">
                            <div class="col-xs-6">
                                {{ form_label(form_applicant.nom, "Nom", {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                                {{ form_errors(form_applicant.nom) }}
                                <div class="col-xs-12">
                                    {{ form_widget(form_applicant.nom, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="col-xs-6">
                                {{ form_label(form_applicant.prenom, "Prénom", {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                                {{ form_errors(form_applicant.prenom) }}
                                <div class="col-xs-12">
                                    {{ form_widget(form_applicant.prenom, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="col-xs-6">
                                {{ form_label(form_applicant.sexe, "Sexe", {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                                {{ form_errors(form_applicant.sexe) }}
                                <div class="col-xs-12">
                                    {{ form_widget(form_applicant.sexe, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="col-xs-6">
                                {{ form_label(form_applicant.mail, "Email", {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                                {{ form_errors(form_applicant.mail) }}
                                <div class="col-xs-12">
                                    {{ form_widget(form_applicant.mail, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="col-xs-6">
                                {{ form_label(form_applicant.telephone, "Téléphone", {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                                {{ form_errors(form_applicant.telephone) }}
                                <div class="col-xs-12">
                                    {{ form_widget(form_applicant.telephone, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
        </div>



            <div class="col-xs-12">
                <div class="col-xs-6 col-xs-offset-2">
                    {{ form_widget(form_applicant) }}
                    <button type="submit" class="btn btn-default center-block">Valider</button>
                </div>
            </div>

            {{ form_rest(form_applicant) }}

            {{ form_end(form_applicant) }}

        </div>
    </div>
    </div>
{% endblock %}
