{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/infos_formation.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/menu.css') }}" />
{% endblock %}

{% block title %}{{ parent() }} - Infos formation{% endblock %}
{% block menu %}{% include ':default:menu.html.twig' %}{% endblock %}

{% block body %}
    <div class="col-sm-9 col-md-10 affix-content">
        <div class="container list_formations">
            <div class="page-header">
                <h3><span class="glyphicon glyphicon-user"></span> {{ formation.nom }}</h3>
            </div>
            <div>
<<<<<<< HEAD
                <span class="infos">Durée:</span> {{ formation.duree }} heures<br /><br />
                <span class="infos">Début de formation:</span> {{ formation.dateDebut | date('d/m/Y') }}<br /><br />
                <span class="infos">Fin de formation:</span> {{ formation.dateFin | date('d/m/Y') }}<br /><br />
                <span class="infos">Lieu:</span> {{ formation.lieu }} <br /><br />
                <span class="infos">Prix:</span> {{ formation.prix }} €<br /><br />
                <span class="infos">Places:</span> {{ formation.places }} <br /><br />
                <span class="infos">Objectifs:</span> {{ formation.objectifs }} <br /><br />
                <span class="infos">Pré-requis conseillés:</span> {{ formation.preRequis }} <br /><br />
                <span class="infos">Contenu:</span> {{ formation.contenu }} <br /><br />
                <span class="infos">Présentation:</span> {{ formation.presentationMetier }} <br /><br />
                <span class="infos">Débouchés:</span> {{ formation.debouches }} <br /><br />
                <span class="infos">Validation possible:</span> {{ formation.validation }}
=======
>>>>>>> 4dcd21f... Ajout du formulaire pour les formations

                <div>
                    <br /><a href="{{ path('removeFormation', {id: formation.id}) }}">Supprimer</a>
                </div>


            </div>
        </div>
    </div>
    </div>
{% endblock %}