{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/list_formations.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/menu.css') }}" />
{% endblock %}

{% block title %}{{ parent() }} - Liste des formations{% endblock %}
{% block menu %}{% include ':default:menu.html.twig' %}{% endblock %}

{% block body %}
    <div class="col-sm-9 col-md-10 affix-content">
        <div class="container list_formations">
            <div class="page-header">
                <h3><span class="glyphicon glyphicon-user"></span> Formations</h3>
            </div>
            <a class="col-xs-12" href="{{ path('formation_infos') }}"><button type="button" class="btn btn-default col-xs-12">Nouvelle formation</button> </a>
            <div class="form-group col-xs-11">
                <input type="search" class="input-sm form-control" placeholder="Recherche">
            </div>
            <button type="submit" class="btn btn-success btn-sm col-xs-1"><span class="glyphicon glyphicon-search"></span></button>

            <div>
                {% for formation in list_formations %}
                    <div class="formation col-xs-3">
                        <div>
                            <a href="{{ path('infos_finales', { 'id': formation.id }) }}"><h4>{{ formation.nom }}</h4></a>
                        </div>
                    </div>
            </div>
                {% endfor %}



        </div>
    </div>
{% endblock %}